* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

ul, li, .links {
    text-decoration: none;
    list-style: none;
    color: #464646;
    flex-direction: row;
    gap: 5px;
}

nav {
    display: flex;
    flex-direction: row;
}

header {
    padding: 2rem;
}

.logo {
    width: 6rem;
}

.hero-section{
    width: 100vw;
    padding: 3rem;
}

.titulo{
    font-size: 5rem;
    color: #464646;
}